<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container  d-flex justify-content-end">
      <a class="btn btn-secondary text-black Mainbtn" href="/" role="button">回到首頁</a>
      <a class="btn btn-secondary text-black " href="/about" role="button">About</a>
      <a class="btn btn-secondary text-black " href="/portfolio" role="button">Portfolio</a>
      <a class="btn btn-secondary text-black " href="/contact" role="button">Contact</a>
    </div>
  </nav>
</header>

<!-- content -->
<div class="content">
  <h1>Contact</h1>
</div>